<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.lin.dao.SysDao">  
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->  
    <resultMap id="BaseResultMap" type="com.lin.domain.User">  
        <id column="productid" property="productid" jdbcType="INTEGER" />  
        <result column="djlsh" property="djlsh" jdbcType="INTEGER" />  
        <result column="productname" property="productname" jdbcType="CHAR" />  
        <result column="productsize" property="productsize" jdbcType="CHAR" />  
    </resultMap>  
    <!-- 查询单条记录 -->  
    <select id="getSysName" parameterType="int" resultMap="BaseResultMap">  
        SELECT * FROM product where productid =1 
    </select> 
     
</mapper> 